{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wordle Game{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}"> <!-- Global CSS -->
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            {% if user.is_authenticated %}
            <a href="/accounts/logout/">Logout</a>
            <span>Welcome, {{ user.username }}!</span>
            {% else %}
            <a href="/accounts/login/">Login</a>
            <a href="/accounts/register/">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Wordle Game. All rights reserved.</p>
    </footer>
    <!-- <script src="{% static 'js/main.js' %}"></script> -->
    <script src="{% static 'frontend/js/todays_game.js' %}"></script>

    {% block extra_scripts %}{% endblock %}
</body>

</html>